@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
font-family: "Hind Madurai", sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* hero */

.nav__bar__section {
  background-color: #F2CEDA;
  height: 900px;
  padding: 30px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__logo {
  width: 79px;
}

img {
  width: 100%;
}

.nav__bar__list {
  display: flex;
  gap: 40px;
}

.nav__bar__item .active {
  color: #DC0048;
}

.nav__bar__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #150101;
  opacity: 60%;
}

.btn {
  background-color: #DC0048;
  color: #fff;
  padding: 14px 50px;
  border-radius: 12px;
  display: inline-block;
}

/* main content */
.main__content {
  margin-top: 50px;
}


.main__content__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10%;
  opacity: 90%;
}

.main__content__title {
  font-weight: 600;
  font-size: 57.33px;
  line-height: 121%;
  width: 665px;
  font-family: "Fredoka", sans-serif;
  color: #0F0101;
  margin-top: 6px;
  margin-bottom: 35px;
}

.ice {
  color: #DC0048;
  font-weight: 600;
  font-size: 57.33px;
  line-height: 121%;
  width: 665px;
  font-family: "Fredoka", sans-serif;
}

.main__content__text {
  width: 523px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Hind Madurai", sans-serif;
  opacity: 50%;
  margin-bottom: 50px;
}


.right__ice__img img:nth-child(1) {
  position: relative;
  top: 60px;
  width: 860px;
  left: -60px;
}

.right__ice__img img:nth-child(2) {
  width: 190px;
  position: relative;
  top: -80px;
  left: 240px;
}

/* main section */

.box {
  border: 1px solid #00000008;
  border-radius: 12px;
  box-shadow: 20px 20px 50px 0px #00000008;
  text-align: center;
  width: 250px;
  height: 200px;
  padding: 20px;
  margin: 62px 0 60px 0;
}

.box img {
  width: 51px;
  margin: 33px 0 24px 0;
}

.box__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 9px;
}


.box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

/* braun suger */

#brown__sugar {
  background-color: #F2CEDA;
}

.brown__sugar__content h2 {
  width: 360px;
  margin-bottom: 110px;
font-weight: 600;
font-size: 44.2px;
line-height: 111.00000000000001%;

}

.brown__sugar__img {
  width: 665px;
  position: relative;
  left: 100px;
}
