@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Hind Madurai", sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* hero */

.nav__bar__section {
  background-color: #F2CEDA;
  height: 900px;
  padding: 30px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__logo {
  width: 79px;
}

img {
  width: 100%;
}

.nav__bar__list {
  display: flex;
  gap: 40px;
}

.nav__bar__item .active {
  color: #DC0048;
}

.nav__bar__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #150101;
  opacity: 60%;
}

.btn {
  background-color: #DC0048;
  color: #fff;
  padding: 14px 50px;
  border-radius: 12px;
  display: inline-block;
}

/* main content */
.main__content {
  margin-top: 50px;
}


.main__content__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10%;
  opacity: 90%;
}

.main__content__title {
  font-weight: 600;
  font-size: 57.33px;
  line-height: 121%;
  width: 665px;
  font-family: "Fredoka", sans-serif;
  color: #0F0101;
  margin-top: 6px;
  margin-bottom: 35px;
}

.ice {
  color: #DC0048;
  font-weight: 600;
  font-size: 57.33px;
  line-height: 121%;
  width: 665px;
  font-family: "Fredoka", sans-serif;
}

.main__content__text {
  width: 523px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Hind Madurai", sans-serif;
  opacity: 50%;
  margin-bottom: 50px;
}


.right__ice__img img:nth-child(1) {
  position: relative;
  top: 60px;
  width: 860px;
  left: -60px;
}

.right__ice__img img:nth-child(2) {
  width: 190px;
  position: relative;
  top: -80px;
  left: 240px;
}

/* main section */

.box {
  border: 1px solid #00000008;
  border-radius: 12px;
  box-shadow: 20px 20px 50px 0px #00000008;
  text-align: center;
  width: 250px;
  height: 200px;
  padding: 20px;
  margin: 62px 0 60px 0;
}

.box img {
  width: 51px;
  margin: 33px 0 24px 0;
}

.box__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 9px;
}


.box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

/* braun suger */

#brown__sugar {
  background-color: #F2CEDA;
}

.brown__sugar__content h2 {
  width: 360px;
  margin-bottom: 110px;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 111.00000000000001%;

}

.brown__sugar__img {
  width: 665px;
  position: relative;
  left: 100px;
}

/* product */
#product {
  margin-top: 100px;
}

.product__title {
  font-weight: 600;
  font-size: 44.2px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 64px;
}

.our__nav__list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.our__nav__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  opacity: 60%;
  color: #000;
}

.our__nav__item .active {
  border-bottom: #D64374;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  color: #000;
  font-weight: bold;
}

.ice__info__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  gap: 90px;
}

.ice__box__img {
  width: 580px;
}

.ice__box__content {
  width: 454px;
}

.ice__box__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 11px;
}

.ice__box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 34px;
}

.money__section {
  margin-bottom: 16px;
}

.money__section span:nth-child(1) {
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
}

/* adel */


.adel__face__box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adel__face__img {
  width: 58px;
}

.adel__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.adel__title p {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  margin-top: 10px;
}

.adel__info {
  width: 322px;
}


.adel__info .adel__text {
  margin: 50px 0 56px 0;
}

.adel__text img {
  width: 10px;
  margin: 0 5px;
}

.adel__img__bar .row i {
  color: #D64374;
}

.adel__img__bar .row img:nth-child(2),
img:nth-child(4) {
  width: 35px;
}

.adel__img__bar .row img:nth-child(3) {
  width: 58px;
}

.adel__img {
  width: 564px;
}

/* order section */

#orderFood {
  background-color: #F8EDF0;
  margin-top: 60px;
  margin-bottom: 60px;
}

.order_phone_img img {
  border-radius: 60px;
  width: 305px;
  position: relative;
  top: 60px;
}

#orderFood .consectetur .row {
  gap: 134px;
}

.order__title {
  font-weight: 500;
  font-size: 44.2px;
  line-height: 100%;
}

.order__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1%;
  margin-top: 20px;
  width: 607px;
}

.order__app {
  align-items: center;
  display: flex;
}

.order__app a img:nth-child(1) {
  width: 200px;
}

.order__app a img:nth-child(2) {
  width: 140px;
}

.order__icon__box {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0 40px;
}

.order__icon__box img {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  padding: 5px;
  transform: translate(-50% -50%);
}

.order__icon__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
}

/*  products__information */

.products__information {
  margin-top: 140px;
  margin-bottom: 130px;
}

.products__information__content {
  width: 520px;
  margin: auto;
}

.products__information__content h3 {
  font-weight: 500;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
}

.products__information__input {
  width: 640px;
  margin: auto;
}

.products__information__input form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form label {
  display: flex;
  margin-top: 30px;
}

.products__information__content__input {
  background-color: #FAFAFA;
  padding: 29px 30px;
  display: inline;
  border: none;
  outline: none;
  width: 640px;
  border-radius: 12px;
}

.products__information__content__input~button {
  position: relative;
  left: -30px;
  display: inline-block;
  width: 135px;
  background-color: #D64374;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  border-radius: 12px;
  cursor: pointer;
}

/* footer */

#footer {
  background-color: #0A0808;
}

#footer * {
  color: #fff;
}

.footer__content {
  padding-bottom: 60px;
}

.footer__main__img {
  width: 79px;
}

.footer__content__box__text {
  width: 207px;
}

.footer__content__box__text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 1%;
  opacity: 70%;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 207px;
}

.footer__content__box__text h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  margin-bottom: 8px;
}

.footer__content__box__info {
  display: flex;
  align-items: center;
  gap: 132px;
  margin: 80px 0 0 0;
}

.footer__content__box__title {
  margin-bottom: 10px;
}

.footer__content__box__list .footer__content__box__item {
  margin-bottom: 10px;
  opacity: 70%;
}

.footer__content__box__subscribe {
  margin-top: 50px;
}

.footer__content__box__subscribe form label {
  margin-bottom: 20px;
}

.footer__inpuy {
  border: 2px solid #D64374;
  outline: none;
  padding: 20px 30px;
  background-color: #0A0808;
  border-radius: 8px;
  width: 260px;
}

.footer__content__box__subscribe form label button {
  background-color: #D64374;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  border-radius: 12px;
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
  left: -30px;
}

.payment__siystems img {
  width: 40px;
  height: 20px;
}
